body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 193, 78);
    border-bottom: 10px solid #000;
    padding: 10px 20px;  
}

nav{
     text-align: right;
    }

a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #fa502e; 
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: 0.5s;
}

#button:hover{
    transition: 0.5s;
    background-color: #eb4808;
    cursor: pointer;
}

a::before{
    content: "";
    display: inline-block;
    background-color: #f8411c;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

span{
    display: inline-block;
    background-color: #fa502e;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
